html{
    overflow: scroll;
}

body{
    height: 1000px;
}

div {
    border: 1px solid;  /* #fff Cannot remove this without position of nav bar changing */
}

.nav-bar{
    /*height: 5%;*/
    background-color: #fff;
    position:fixed top;
    width: 100%;
    z-index: 9999;
    margin: 0 auto;
    height: 50px;
}

.content{
    height: 100%;
}

#nav-links{ 
    width: 40%;
    list-style: none;
    margin: 0 auto;
    padding-right: 20%;
    float: right;
    padding-top: 15px;
    /*padding-right: 100px;
    padding-left: 100px;*/

 }

#nav-links li{
    /*width: 13%;*/
    float: right;
    padding-right: 5%;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    box-sizing: border-box;
    display: inline-block;
}


#nav-links li a{
    text-decoration: none;
    color: Gray;

 }

#nav-links li a:hover{
    color: black;
    text-decoration: bold;
}

.logo{
    width: 60px;
    margin-right: 120px;
    padding: 5px;
    padding-left: 20%;
    margin-right: 0;
    padding-top: 10px;
}
.masthead{
    height:50%;
    text-align: center;
    background-image: url("../img/ma.jpg"); /* why is this not working */
    background-color: LightGrey;
/*    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.masthead h1{
    color: white;
    margin-top: 140px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 35px;
    font-stretch: expanded;
}

.masthead h3{
    color: white;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-stretch: expanded;
}

button{
    margin-top: 25px;
    padding: 10px;
    background-color: #f15a29;
    border-width: 0px;
    border-radius: 5px;
    width: 150px;
}

button a{
    text-decoration: none;
    color: white;
}

/*
#wet{
    width: 70%;
    float: right;
    max-height: 5%;
    vertical-align: middle;
}
*/

#everyone{
    text-align: center;
    margin-top: 10%;
}

#everyone h2{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 35px;
    font-stretch: expanded;
    margin-bottom: 0px;
}

#everyone img{
    width: 90px;
    margin: 4%;
}

#broken{
    /*float: left;*/
    list-style: none;
    text-align: center;   
    padding-left: 0px;
    vertical-align: baseline;
    box-sizing: border-box;
}

#broken li{
    display: inline-block;
    text-align: center;
    /*margin: 4%;*/
    width: 20%;
}

#caption{
    /*white-space: pre-wrap;*/
    /*width: 100px;*/
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: baseline;
}

#social{
    list-style: none;
    text-align: center;   
    padding-left: 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 0;
}

#social li{
    display: inline-block;
    text-align: center;
    margin: 4px;
    border: 1px solid #eaebec;
    border-radius: 10px;
    border-radius: 20px;
    border-width: 1px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.social{
    width: 40px;
}

i{
    width: 15px;
}

footer{
    margin-top: 12%;
}
footer p{
    text-align: center;
    font-size: 10px;
}

#copyright{
    font-size: 9px;
    text-decoration-color: gray;
}

#twitter{
    color: #55acee;
}

#fb{
    color: #4c66a4;
}

#insta{
    color: #3f729b;
}

hr{
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
    margin-left: 15%;
    margin-right: 15%;
}