html{
    background-color: LightGray;
    overflow: scroll;
}

body{
    height: 1000px;
}

div {
    border: 2px solid;
}

.nav-bar{
    height: 5%;
    background-color: white;
    position:fixed;
    width: 100%;
    z-index: 9999;
}

#nav-links{ 
    width: 70%;
    list-style: none;
    margin: 0 auto;
    padding: 0px;
    /*padding-right: 100px;
    padding-left: 100px;*/

 }

#nav-links li{
    /*width: 13%;*/
    max-height: 100%;
    float: left;
    margin-right: 3%;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    box-sizing: border-box;
    display: inline-block;
}

#nav-links li a{
    text-decoration: none;
    color: Gray;

 }

#nav-links li a:hover{
    color: black;
    text-decoration: bold;
}

#logo img{
    max-height: 30px; 
    margin-left: 120px;
    margin-right: 120px;
}
.masthead{
    height:50%;
    text-align: center;
    background-image: url("img/ma.jpg"); /* why is this not working */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1{
    color: white;
    margin-top: 140px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 35px;
    font-stretch: expanded;
}

.masthead h3{
    color: white;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-stretch: expanded;
}

button{
    margin-top: 25px;
    padding: 10px;
    background-color: #f15a29;
    border-width: 0px;
    border-radius: 5px;
    width: 150px;
}

button a{
    text-decoration: none;
    color: white;
}

#wet{
    width: 70%;
    float: right;
    max-height: 5%;
    vertical-align: middle;
}

#everyone{
    text-align: center;
}

#everyone h1{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 35px;
    font-stretch: expanded;
    margin-bottom: 0px;
}

#everyone img{
    width: 100px;
    margin: 4%;
}

#broken{
    /*float: left;*/
    list-style: none;
    text-align: center;   
    padding-left: 0px;
    vertical-align: baseline;
    box-sizing: border-box;
}

#broken li{
    display: inline-block;
    text-align: center;
    margin: 3.5%;
}

#caption{
    white-space: pre-wrap;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#social{
    list-style: none;
    text-align: center;   
    padding-left: 0px;
    vertical-align: baseline;
    box-sizing: border-box;
}

#social li{
    display: inline-block;
    text-align: center;
    margin: 0.5%;
}

.social{
    width: 40px;
}

footer p{
    text-align: center;
    font-size: 10px;
}

#social li a i{
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
}

#copyright{
    font-size: 9px;
    text-decoration-color: gray;
}